.flex-container-head 
{
    display: -webkit-flex;
    display: flex;
    z-index: 2;
    position: fixed;
    height: auto;
    width: 100%;
    border: 1px solid #333;
    background-image: URL('image/2.jpg');
    border-radius: 25px;
}
input[type=Submit], input[type=button]
{
    background-color:#F66700;
    margin-left: 2%;
    display: inline-block;
    color: PowderBlue;
    height: auto;
    text-align: center;
    padding: 1.5% 1.5%;
    text-decoration: none;
    font-size: 25px;
    border: none;
    border-radius: 25px;
    float:right;
}
input[type=Submit]:hover, input[type=button]:hover
{
    opacity: 0.7;
    border: 1px solid #5E8EB3;
    color: black;
}
.flex-head
{   
    opacity: 0.9;
    background-attachment: fixed;
    z-index: 0;
    padding: 14px 16px;
}
.head1
{
    flex:0.3;
    margin: auto;
    padding-left: 2%;
}
.head1 input[type=submit]
{
    width: 30%;
    display: inline-block;
    height: 50%;
    color: blue;
}
.head1 a
{
    color: powderblue;
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    padding-right: 5%;
}
.head1 a:hover
{
    text-decoration: underline;
    color: #F66700;
    opacity: 0.7;
    font-size: 20px;
}
.head2
{
    margin: auto;
    flex:0.2;
    /*border: 1px solid green;*/
}
.head2 input[type=text]
{
    padding: 1% 1%;
    color:black;
    width:100%;
}
.head3
{
    flex:0.5;
    /*border: 1px solid blue;*/
}
.head3 form
{
    display: inline-block;
    width: 50%;
    /*border: 1px solid red;*/
    float: right;
}
.head3 label
{
    color: powderblue;
    display: inline-block;
    font-size: 25px;
    padding: 1% 1%;
    width: 35%;
}
.head3 input[type=submit]
{
    width: 45%;
    display: inline-block;
}
.head3 input[type=button]
{
    width: 45%;
    display: inline-block;
    margin-left: 4%;
}
body
{
    /*background: URL('image/Mur4.jpg');*/
    background: URL('image/17-2.jpg') ;
    background-attachment: fixed;
    font-size: 20px;
}
form.ext
{
    background-color: #333;
    margin: 0% 0% 0% 0%; 
    border: 2px solid black;
    width: 50%; 
    opacity: 1;
    margin-bottom: 15%; 
}
span
{
    cursor: help;
}
span.Vide
{
    color: PowderBlue;
    font-size: 50px;
    background-color: #333;
    border: 2px solid black;
    border-radius: 10px; 
    padding: 14px 16px;
}
span.Sujet
{
    cursor:pointer;
}
span.sujet
{
    float: right; 
    color:Peru;
    font-size: 25px;
}
span.contenu
{
    font-size: 30px;
    color:#D19275;
}
span.auteur
{
    color: BurlyWood;
    font-size: 30px;
}
span.date
{
    font-size: 30px;
    color:Cornsilk;
    float: right;
}
span.nombreMessage
{
    color : Darkgrey;
    font-size: 30px;
}
span.nbSuj
{
    color:DarkSalmon;
    font-size: 30px;
}
span.desc
{
    color: Tan;
    font-size: 30px;
}
span.Mess
{
    font-size: 30px;
    color: Cornsilk;
    background-color: #333;
    border: 1px dashed white;
    border-radius: 15px;
    padding: 8px 10px;
    width: 1000px;
}
span.admin
{
    color:red;
    font-size: 30px;
}
div.MessageBox
{
    background-image: URL('image/2.jpg');
    color: #F66700;
    border: 2px solid #333;
    padding: 14px 16px;
}
div.logo
{
    background: URL('image/logo.png')center bottom no-repeat ;
    padding-top: 11.5%;
    padding-bottom: 0px;
    width: auto;
    height: auto;
}
.flex-container 
{
    display: -webkit-flex;
    display: flex;
    width: auto;
    height: auto; 
    background-attachment: fixed;   
}
.flex-item 
{    
    opacity: 0.9;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px; 
    border-radius: 25px;
    background-attachment: fixed;
    z-index: 0;
    padding: 14px 16px;
}
.item1 
{
    background-image: URL('image/2.jpg');
    flex: 0.2;
    color: powderblue;
    font-size: 25px;
    border: 1px solid #333;
}
.item1 input
{
    padding-left: 32px;
    height:25px;
    background-repeat:no-repeat;
    background-image:URL('search3.png');
}
.item1 label
{
    color: #5E8EB3;
    font-size: 20px;
}
.item1 label
{
    text-align: center;
    text-decoration: underline;
    width : auto;
    display: block;
}
.item1 input
{
    margin-left: 25px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 160px;
    margin-bottom: 2px;
    padding-top: 2px;
}
.item2 
{
    flex: 1;
    color :#F66700;
}
.item2 a
{
    color:powderblue;
    text-decoration: none;
    font-size: 40px;
}
.item2 a:hover
{
    color: #F66700;
    text-decoration: underline;
}
.item2 h3
{
    text-align: center;
    text-decoration: underline;
    border: 1px solid #333;
    border-radius:10px;
}
.item3 
{
    background-image: URL('image/electro.jpg');
    flex: 0.1;
    color: powderblue;
    overflow: hidden;
    font-size: 25px;
}
div.table table, th, td 
{
    border: 1px solid #333;
    padding-left: 50px;
    width: 97%;
    margin-left: 15px;
    background-image: URL('image/2.jpg');
    border-radius: 15px;
}
th.titre
{
    text-decoration: underline;
}
th, td 
{
    padding: 5px;
    padding-left: 10px;
    text-align: left;
    color: #F66700;
}
h3
{
    font-size: 35px;
    text-align: center;
    background-color: black;
}

div.register h1
{
     color: #F66700;
     text-decoration: underline;
}
input[type=text], input[type=password] 
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button 
{
    background-color: #F66700;
    color: white;
    padding: 9px ;
    margin: 8px 20px 7px;
    border: none;
    cursor: pointer;
    width: 96%;
    
    border-radius: 10px;
}
button#2 
{
    background-color: none;
    color: white;
    padding: 9px ;
    margin: 8px 20px 7px;
    border: none;
    cursor: pointer;
    width: 6%;
}
button:hover 
{
    opacity: 0.7;
    border: 1px solid #5E8EB3;
    color: black;
}
.Cancelbtn 
{
    width: auto;
    padding: 10px 18px;
    background-color: white;
}
.imgcontainer 
{
    text-align: center;
    margin: 0% 0 0 0;
    position: relative;
    width: 75%;
    background-color: Silver;
    margin: 10% auto auto auto;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0px 0px 50px 20px #5E8EB3;
    padding-top: 10px; 
}
.close 
{
    position: inherit;
    color: powderblue;
    font-size: 50px;
    font-weight: lighter;
}
.close:hover, .close:focus 
{
    color: red;
    cursor: pointer;
}
img.avatar 
{
    width: 75%;
    border-radius: 50%;  
}
.imgcontainer:hover 
{
    width: 75%;
    border-radius: 50%;
    opacity: 0.5;
}
.container 
{
    padding: 16px;
    text-align: center;
}
span.psw 
{
    float: right;
    padding-top: 16px;
}
.modal ,.modal2, .modal3 
{
    display: none; 
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.35); 
    padding-top: 2.35%;
}
.modal
{
    padding-top: 0px;
}
.modal-content 
{
    background-color: #333;
    margin: 0% 0% 0% 74%; 
    border: 2px solid black;
    width: 25%; 
    opacity: 1;
    margin-bottom: 15%;
    overflow: hidden;
    position: fixed;
} 
.modal-content2 
{
    text-align: left;
    background-color: #333;
    margin: 0% 0% 0% 50%; 
    border: 2px solid black;
    width: 50%; 
    opacity: 1;
    overflow: hidden;
} 
.modal-content3 
{
    text-align: left;
    background-color: #333;
    margin: 0% 0% 0% 0%; 
    border: 2px solid black;
    width: 50%; 
    opacity: 1;
    overflow: hidden;
    position: fixed;
} 
.modal-content4 
{
    background-color: #333;
    margin: 0% 0% 0% 48%; 
    border: 2px solid black;
    width: 25%;
    opacity: 1;
    margin-bottom: 15%;
    overflow: hidden;
    position: fixed;
} 
textarea.Mess
{
    color:orange;
    width: 95%;
    background-color: #333;
    border: 1px solid white;
    border-radius: 15px;
    padding: 8px 10px;
    margin-left: 2%;
    font-size: 30px;
    /*box-shadow: 0px 0px 70px powderblue;*/
}
textarea.Mess:hover
{
    font-size: 30px;
}
@media screen and (max-width: 300px) {
    span.psw 
    {
       display: block;
       float: none;
    }
    .cancelbtn 
    {
       width: 100%;
    }
}