.flex-container-head 
{
    display: -webkit-flex;
    display: flex;
    width: 500px;
    height: 500px; 
    background-attachment: fixed;   
}
.flex-item 
{    
    opacity: 0.9;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px; 
    border-radius: 25px;
    background-attachment: fixed;
    z-index: 0;
    padding: 14px 16px;
}
.item1 
{
    background-image: URL('image/2.jpg');
    -webkit-flex:1;
    flex: 1;
    color: powderblue;
    font-size: 25px;
    box-shadow: 3px 5px 3px #5E8EB3;
    border: 3px solid black;
}
.item2 
{
    background-color:red;
    -webkit-flex:1;
    flex: 1;
    color :#F66700;
}
.item3 
{
    background-image: URL('image/electro.jpg');
    -webkit-flex:1;
    flex: 1;
    color: powderblue;
    overflow: hidden;
    font-size: 25px;
}
.item4
{
    background-image: URL('image/electro.jpg');
    -webkit-flex:1;
    flex: 1;
    color: powderblue;
    overflow: hidden;
    font-size: 25px;
}