<!DOCTYPE html>
<html>
  <head>
      <title>Node Blog</title>
        <% include ./parts/head.ejs %>
      <link rel="stylesheet" type="text/css" href="css/blogstyle.css">
  </head>
  <body>
    <!-- Header -->
    <% include ./parts/header.ejs %>

    <!-- The flexible grid (content) -->
    <div class="row">
      <main>
          <h2>About Us</h>
          <h5>Photo of us:</h5>
          <div class="fakeimg" style="height:200px;">
            <img src="images/us.jpg" alt="us">
          </div>
          <p>Ça, c'est nous</p>
          <h3>Je suis loutré</h3>
          <p>Lorem ipsum dolor sit ame.</p>
          <div class="fakeimg" style="height:60px;">Image</div><br>
          <div class="fakeimg" style="height:60px;">Image</div><br>
          <div class="fakeimg" style="height:60px;">Image</div>
      </main>
    </div>

    <!-- Footer -->
    <% include ./parts/footer.ejs %>
  </body>
</html>
