<!DOCTYPE html>
<html>
  <head>
      <title>Node Blog</title>
      <% include ./parts/head.ejs %>
      <link rel="stylesheet" type="text/css" href="css/blogstyle.css">
      </head>
  <body>
    <!-- Header -->
    <% include ./parts/header.ejs %>

    <!-- The flexible grid (content) -->
    <div class="row">
      <div class="side">
        <h2>About Us</h>
        <h5>Photo of us:</h5>
        <div class="fakeimg" style="height:200px;">
          <img src="images/us.jpg" alt="us">

        </div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        <h3>More Text</h3>
        <p>Lorem ipsum dolor sit ame.</p>
        <div class="fakeimg" style="height:60px;">Image</div><br>
        <div class="fakeimg" style="height:60px;">Image</div><br>
        <div class="fakeimg" style="height:60px;">Image</div>
      </div>
      <main>
        <h2>Derniers articles</h2>
          <% for(let i = 0; i < posts.length; i++) { %>
            <article>
              <p><%- posts[i].body %></p>
              <form method='post' action='read_more'>
              <p><button type="submit" name="read_more_body" value ="<%= posts[i].body %>">Read More...</button></p>
              </form>
            </article>
          <% } %>
          <form action="addpost" method="POST">
            <textarea name="body"></textarea>
            <input type="submit" value="AddPost" />
          </form>
      </main>
    </div>

    <!-- Footer -->
    <% include ./parts/footer.ejs %>
  </body>
</html>
