<!DOCTYPE html>
<html>
  <head>
      <title>Node Blog</title>
        <% include ./parts/head.ejs %>
      <link rel="stylesheet" type="text/css" href="css/blogstyle.css">
  </head>
  <body>
    <!-- Header -->
    <% include ./parts/header.ejs %>

    <!-- The flexible grid (content) -->
    <div class="row">
      <main>
          <h1>Nodejs</h1>
          <h3>Articles</h3>
          <p>Lorem ipsum dolor sit ame.</p>
          <div class="fakeimg" style="height:60px;">Image</div><br>
          <div class="fakeimg" style="height:60px;">Image</div><br>
          <div class="fakeimg" style="height:60px;">Image</div>
      </main>
    </div>

    <!-- Footer -->
    <% include ./parts/footer.ejs %>
  </body>
</html>
