<!DOCTYPE html>
<html>
  <head>
      <title>Erreur 404</title>
      <% include ./parts/head.ejs %>
      <link rel="stylesheet" type="text/css" href="css/blogstyle.css">
  </head>
  <body>
    <!-- Header -->
    <% include ./parts/header.ejs %>

    <!-- The flexible grid (content) -->
    <div class="row">
      <main class="center">
          <h1>Erreur 404</h1>
          <h2>La page que vous avez demandée n'est pas disponible !</h2>
          <img src="images/sad.jpg" alt="sad">
      </main>
    </div>

    <!-- Footer -->
    <% include ./parts/footer.ejs %>
  </body>
</html>
