<!-- Fichier html -->
<!-- Header -->
<header>
  <h1>Bloggy Blog</h1>
  <p>Let's be more <b>flexibles</b> morons.</p>
</header>

<!-- Navigation Bar -->
<nav>
    <a href="/">Accueil</a>
    <a href="/nodejs">Node.js</a>
    <a href="/apropos">About</a>
</nav>
